{% extends "base.html.twig" %}
{% block title %}
    <h2>{% trans %}recommendations_h1{% endtrans %}</h2>
{% endblock %}
{% block content %}
    <p>{% trans %}recommendations_p1{% endtrans %}</p>
    <hr>
    <form action="{{ path('makeRecommendation') }}" id="recommendations" method="POST">
        <button type="submit" class="btn btn-primary">
            {% trans %}validate{% endtrans %}
        </button>
        <br>
        <hr>
        <input type="hidden" name="artists">
        <input type="hidden" name="songs">
        <input type="hidden" name="genres">

        <label for="name">acousticness</label>
        <input id="acousticness" type="text" name="acousticness">
        <label for="danceability">danceability</label>
        <input id="danceability" type="text" name="danceability">
        <label for="duration">duration</label>
        <input id="duration" type="text" name="duration">
        <label for="energy">energy</label>
        <input id="energy" type="text" name="energy">
        <label for="instrumentalness">instrumentalness</label>
        <input id="instrumentalness" type="text" name="instrumentalness">
        <label for="key">key</label>
        <input id="key" type="text" name="key">
        <label for="liveness">liveness</label>
        <input id="liveness" type="text" name="liveness">
        <label for="loudness">loudness</label>
        <input id="loudness" type="text" name="loudness">
        <label for="mode">mode</label>
        <input id="mode" type="text" name="mode">
        <label for="popularity">popularity</label>
        <input id="popularity" type="text" name="popularity">
        <label for="speechiness">speechiness</label>
        <input id="speechiness" type="text" name="speechiness">
        <label for="tempo">tempo</label>
        <input id="tempo" type="text" name="tempo">
        <label for="timesignature">timesignature</label>
        <input id="timesignature" type="text" name="timesignature">
        <label for="valence">valence</label>
        <input id="valence" type="text" name="valence">


    </form>

    <div class="result">
        {% include 'spotiTemplates/_songs.html.twig' %}
    </div>

    <div class="feedback">
        <div class="alert alert-success"></div>
    </div>
{% endblock %}
{% block footer %}
{#    {{ encore_entry_script_tags('listenLaterAdd') }}#}
{#    <script>#}
{#        $( document ).ready(function() {#}
{#            listenLaterAdd({{ jsConfig|json_encode|raw }});#}
{#        });#}
{#    </script>#}
{% endblock %}
