<!doctype html>
<html lang="fr">
    <head>
        {% block head %}
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            {% block stylesheets %}
                {{ encore_entry_link_tags('app') }}
            {% endblock %}

            <title>{% block title %}Test area{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        {% block sidebarLeft %}
        {% endblock %}
        <div class="container">
            {% block content %}
                <h3>Cliquez sur un des boutons</h3>
                <a href="{{ path('solenn')}}">Go to solenn :)</a>
            {% endblock %}
        </div>
    </body>
    <footer>
        {{ encore_entry_script_tags('app') }}
        {% block footer %}{% endblock %}
    </footer>
</html>
