{% extends "testArea/base.html.twig" %}
{% block title %}Discover{% endblock %}
{% block content %}
    <h1>Discover new music with spotify</h1>
	<div class="row">
		<div class="col-8">
			<input type="text" class="inputSearchGenre" placeholder="Rechercher un genre...">
			<div class="selection"></div>
			<ul class="genreResult"></ul>
		    <div id="loader"></div>
		    <div class="playlistResult"></div>
		</div>
		<div class="col-4">
			<!-- https://codepen.io/Aoyue/pen/rLExYX -->
            <div class="select-discover">
                <select id="nbTracks">
        			<option value="25">25 chansons</option>
        			<option value="50">50 chansons</option>
        			<option value="100">100 chansons</option>
        			<option value="150">150 chansons</option>
        			<option value="200">200 chansons</option>
        		</select>
            </div>
			<button class="btn btn-primary generate">Générer</button>
			<div class="save">
                <form action="" id="saveIntoPlaylist">
    				<input type="text" class="playlistName" placeholder="Nom de la playlist" required><br>
    				<button type="submit" class="btn btn-primary saveIntoPlaylist">
                        <img src="{{ asset('build/images/Spotify_Icon_RGB_Black.png') }}" alt="Spotify logo">Enregistrer dans la playlist
    				</button>
                </form>
			</div>
		</div>
	</div>
    <div class="feedback">
        <div class="alert alert-success"></div>
    </div>
{% endblock %}
{% block footer %}
	<script>genreManager({{ jsConfig|json_encode|raw }});</script>
{% endblock %}
