{% extends "testArea/base.html.twig" %}
{% block title %}Discover{% endblock %}
{% block sidebarLeft %}
	<div class="sidebar-left">
		<input type="text" class="playlistName"><br>
		<button type="button" class="btn btn-primary saveIntoPlaylist">
		  Enregistrer dans la playlist
		</button><br>
		<div class="selection"></div>
	</div>
{% endblock %}
{% block content %}
    <h3>Test de recherche de genre</h3>
	<div class="genreBloc">
	    <input type="text" class="inputSearchGenre" placeholder="Rechercher un genre..."><button class="btn btn-primary generate">Générer</button>
	</div>
	<ul class="genreResult"></ul>
    <div id="loader"></div>
    <div class="playlistResult"></div>
{% endblock %}
{% block footer %}
	<script>genreManager({{ jsConfig|json_encode|raw }});</script>
{% endblock %}
