{% extends "testArea/base.html.twig" %}
{% block title %}Discover{% endblock %}
{% block content %}
    <h3>Test de recherche de genre</h3>
    <input type="text" class="inputSearchGenre">
    <div class="result"></div>
{% endblock %}
{% block footer %}
	<script>genreManager({{ jsConfig|json_encode|raw }});</script>
{% endblock %}
