{% extends "testArea/base.html.twig" %}
{% block title %}Discover{% endblock %}
{% block content %}
    <h1>Music discovery</h1>
	<div class="content">
		<div class="leftColumn">
			<input type="text" class="inputSearchGenre" placeholder="Rechercher un genre...">
			<div class="selection"></div>
			<ul class="genreResult"></ul>
		    <div id="loader"></div>
		    <div class="playlistResult"></div>
		</div>
		<div class="rightColumn">
			<!-- https://codepen.io/Aoyue/pen/rLExYX -->
			<label for="nbTracks">Nombre chansons total à générer :</label>
			<select id="nbTracks">
				<option value="25">25 chansons</option>
				<option value="50">50 chansons</option>
				<option value="100">100 chansons</option>
				<option value="150">150 chansons</option>
				<option value="200">200 chansons</option>
			</select>
			<button class="btn btn-primary generate">Générer</button>
			<div class="save">
				<input type="text" class="playlistName" placeholder="Nom de la playlist"><br>
				<button type="button" class="btn btn-primary saveIntoPlaylist">
				  Enregistrer dans la playlist
				</button>
			</div>
		</div>
	</div>
{% endblock %}
{% block footer %}
	<script>genreManager({{ jsConfig|json_encode|raw }});</script>
{% endblock %}
