{% extends "testArea/base.html.twig" %}
{% block title %}Solenn area{% endblock %}

{% block content %}
    <h3>Solenn area</h3>
    {{ form(form) }}
    <div class="container">
        {{ render(controller(
            'App\\Controller\\Display::displayArtists', {artists: artists }
        )) }}
    </div>
{% endblock %}
