{% extends "testArea/base.html.twig" %}
{% block title %}Solenn area{% endblock %}

{% block sidebarLeft %}
	<div class="sidebar-left">
		<button v-on:click="emptySelection('{{ path('emptyArtistsSelection') }}')">Supprimer toute la sélection</button>
		<sidebar-artist v-for="artist in artists" v-bind:html="artist"></sidebar-artist>
		{{ render(controller(
			'App\\Controller\\Display::displayArtists', {artists: artistsInit }
		)) }}
	</div>
{% endblock %}
{% block content %}
    <h3>Solenn area</h3>
    {{ form(form) }}
	<div class="search-result">
	    {{ render(controller(
            'App\\Controller\\Display::displayArtists', {artists: artistsSearch }
        )) }}
	</div>

{% endblock %}
