{% extends "testArea/base.html.twig" %}
{% block title %}Solenn area{% endblock %}

{% block sidebarLeft %}
	<sidebar-artist v-for="artist in artists" v-bind:html="artist" url="{{ path('getArtists') }}"></sidebar-artist>
{% endblock %}
{% block content %}
    <h3>Solenn area</h3>
    {{ form(form) }}
        {{ render(controller(
            'App\\Controller\\Display::displayArtists', {artists: artists }
        )) }}
{% endblock %}
