body {
    background-color: lightgray;
}
.artistBloc {
	display: inline-block;
	width: 200px;
	height: 200px;
	text-align: center;
}
.artistBloc img {
	width: 100px;
}
.artistBloc .hiddenArtistId {
    display: none;
}

.sidebar-left {
    float: left;
    margin: 40px 20px 0 0;
}
.sidebar-left > a {
    display: block;
}
