@import "~bootstrap/scss/bootstrap";
@import "nice-select";

$primary-color:  #eee;
$secondary-color:  #eee;
// $primary-color:  #fc4a1a;
// $secondary-color: #f7b733;
//
// $primary-color: #f83600;
// $secondary-color: #fe8c00;

$text-color: #333;

select {
	display: none;
}

h1 {
	margin: 15px 0 30px 0;
}

.artistBloc {
	display: inline-block;
    cursor: pointer;
	width: 200px;
	height: 200px;
	text-align: center;

    img {
    	width: 100px;
    }
    .hiddenArtistId, .removeArtist {
        display: none;
    }
}

.sidebar-left {
    float: left;
    margin: 40px 20px 0 0;

    .removeArtist {
        display: inline-block;
        cursor: pointer;
    }

    .artistBloc {
        cursor: auto;
    }
}
.sidebar-left > a {
    display: block;
}

#loader {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}
@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}
@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}

.trackBlock {
    display: flex;
	align-items: center;

    img {
        width: 90px;
    }

    .names {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 20px;
    }

	.artistName {
		font-size: 18px;
		margin-right: 10px;
	}
}

hr {
    background: linear-gradient(90deg, rgba(255,94,98,1) 0%, rgba(255,153,102,1) 35%);
}
.container hr:last-child { display: none; }

.content {
	// display: flex;
	// justify-content: space-between;
}

.genreResult {
	height: 0;
	overflow-y:: scroll;
	margin: 0;
	padding: 0;
	box-shadow: -8px 0 8px -10px rgba(0,0,0,0.75);
	transition: height 0.3s ease-in-out;

	.genre {
		padding: 8px 0 8px 44px;
		cursor: pointer;
		list-style-type: none;

		&:hover {
			background-color: lightgoldenrodyellow;
		}
	}
}
input {
	width: 100%;
	font-weight: 300;
	color: $text-color;
	border: 1px solid $primary-color;
	border-radius: 4px;
	padding: 16px;
	cursor: auto;
	margin-right: 10px;
}
.generate {
	width: 200px;
	padding: 16px;
}
/* #ff512f → #dd2476 */
// linear-gradient(107deg, #fd8a0f, #ff6abb)
.selection {
	display: flex;
	flex-wrap: wrap;
}
.selection, .genres {
	.genre {
		position: relative;
		list-style-type: none;
		border: 1px solid orange;
		border-radius: 4px;
		padding: 10px;
		margin: 10px 10px 0 0;

		&:last-child {
			margin-right: 0;
		}

		.close {
			margin-left: 10px;
		}
	}
}

.genres {
	display: flex;
	flex-wrap: wrap;
}

.playlistResult { margin-top: 20px; }
.save {
	border: 1px solid $primary-color;
	margin-top: 20px;
	padding: 10px;
	text-align: center;

	.playlistName { width: 100%; height: 50px; }
	.saveIntoPlaylist { margin-top: 20px; }
}

.close {
	line-height: 0.9;

	&:hover {
		color: red;
	}
}

.select-discover {
	display: inline-block;

	.nice-select {
		padding-top: 10px!important;
		padding-bottom: 10px!important;
		height: auto!important;
		border-color: $primary-color;
	}
}

.feedback {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 15px;
	overflow: hidden;
	transition: all 0.3s ease-out;
	width: 0;
	white-space: nowrap;
}
.container {
	position: relative;
}

// .btn  {
// 	background: $primary-color;  /* fallback for old browsers */
// 	background: -webkit-linear-gradient(to right, $primary-color, $secondary-color);  /* Chrome 10-25, Safari 5.1-6 */
// 	background: linear-gradient(to right, $primary-color, $secondary-color); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// 	border-color: darken($primary-color, 10%);
//
// 	&:hover {
// 		border-color: darken($primary-color, 30%);
// 	}
// }
// .btn {
// 	background: #fc4a1a;  /* fallback for old browsers */
// 	background: -webkit-linear-gradient(to right, lighten($primary-color, 8%), lighten($secondary-color, 0%));  /* Chrome 10-25, Safari 5.1-6 */
// 	background: linear-gradient(to right, lighten($primary-color, 10%), lighten($secondary-color, 0%)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
//
// 	border-color: $secondary-color;
//
// 	&:hover {
// 		border-color: darken($secondary-color, 10%);
//
// 		background: -webkit-linear-gradient(to right, darken($primary-color, 2%), darken($secondary-color, 10%));  /* Chrome 10-25, Safari 5.1-6 */
// 		background: linear-gradient(to right, $primary-color, darken($secondary-color, 10%)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// 	}
// }
//
// body {
// 	background-color: rgba(252,252,252, 0.7);
// 	color: $text-color;
// }
