@import "~bootstrap/scss/bootstrap";

.artistBloc {
	display: inline-block;
    cursor: pointer;
	width: 200px;
	height: 200px;
	text-align: center;

    img {
    	width: 100px;
    }
    .hiddenArtistId, .removeArtist {
        display: none;
    }
}

.sidebar-left {
    float: left;
    margin: 40px 20px 0 0;

    .removeArtist {
        display: inline-block;
        cursor: pointer;
    }

    .artistBloc {
        cursor: auto;
    }
}
.sidebar-left > a {
    display: block;
}

#loader {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}
@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}
@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}

.genreResult .genre {
    cursor: pointer;
}

.trackBlock {
    display: flex;

    img {
        width: 70px;
    }

    .names {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 20px;
    }
}

hr {
    background: linear-gradient(90deg, rgba(255,94,98,1) 0%, rgba(255,153,102,1) 35%);
}
.container hr:last-child { display: none; }

/* #ff512f → #dd2476 */
