{% for artist in artists %}<a class="artistBloc" title="Ajouter à la sélection" data-information="{{ artist|json_encode() }}">
<button type="button" data-dismiss="modal" aria-label="Close" class="close removeArtist">
    <span aria-hidden="true">×</span>
</button>
{% if artist.image is not empty %}
	<img src="{{ artist.image }}" /> <br>
{% endif %}
{{ artist.name }}
</a><hr>{% endfor %}
