{% for artist in artists %}
	<a class="artistBloc"  v-on:click="addToSelection('{{ path('addArtist') }}', {{ artist|json_encode() }}, $event)">

		{% if artist.image is not empty %}
			<img src="{{ artist.image }}" /> <br>
		{% endif %}

	    {{ artist.name }}
    </a>
{% endfor %}
