{% for track in tracks %}<div class="trackBlock" data-id="{{ track.id }}">
	{% if track.image is not empty %}
		<img src="{{ track.image }}" />
	{% endif %}
    <div class="names"><span class="name">{{ track.name }}</span><span class="artistName">{{ track.artistName}}</span></div>
</div><hr>{% endfor %}
